* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.home{
  min-height:100vh;
  background:linear-gradient(
  to bottom,
  #0A3323 0%,
  #105666 50%,
  #839958 100%
  );
  color:#F7F4D5;
  overflow-x:hidden;
  font-family:'Poppins',sans-serif;
}

.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 10%;
}

.hero-text{
  max-width:500px;
}

.hero-text h1{
  font-size:3.5rem;
  margin-bottom:10px;
}

.hero-text h2{
  font-size:1.8rem;
  margin-bottom:15px;
}

.hero-text p{
  opacity:0.85;
  line-height:1.6;
}

.hero-buttons{
  margin-top:30px;
  display:flex;
  gap:20px;
}

.hero-buttons button{
  padding:12px 28px;
  border:none;
  border-radius:30px;
  background:#F7F4D5;
  color:#0A3323;
  font-weight:600;
  cursor:pointer;
  transition:all 0.3s ease;
}

.hero-buttons button:hover{
  transform:translateY(-3px);
  background:#D3968C;
}

.hero-image{
  display:flex;
  justify-content:center;
}

.hero-image .image-placeholder{
  width:550px;
  height:550px;
  border-radius:20px;
  box-shadow: 2px 10px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.hero-image .image-placeholder:hover{
  transform:translateZ(-10px) scale(1.03);
}

.features{
  padding:100px 10%;
  text-align:center;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.features h2{
  margin-bottom:50px;
  font-size:2.5rem;
}

.feature-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.feature-card{
  width: 350px;
  height: 380px;
  padding:30px;
  border-radius:20px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(8px);
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
  transition:all 0.3s ease;
}

.feature-card:hover{
  transform:translateY(-6px);
}

.card-img{
  height:250px;
  border-radius:15px;
  background-size:cover;
  background-position:bottom;
  margin-bottom:20px;
}

.how{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
}

.how-image .image-placeholder{
  width:550px;
  height:550px;
  border-radius:20px;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 10px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.how-image .image-placeholder:hover{
  transform:translateZ(-10px) scale(1.03);
}

.how-text{
  max-width:500px;
}

.how-text h2{
  font-size:2.4rem;
  margin-bottom:20px;
}

.how-text p{
  line-height:1.6;
}

.secondary{
  margin-top:20px;
  padding:12px 28px;
  border:none;
  border-radius:25px;
  background:#F7F4D5;
  color:#0A3323;
  font-weight:600;
  cursor:pointer;
  transition: all 0.3s ease;
}

.secondary:hover{
  background:#D3968C;
  transform:translateY(-3px);
}

.footer{
  padding:80px 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  text-align:center;
  background:rgba(0,0,0,0.2);
}

.footer-links{
  margin-top:20px;
  display:flex;
  justify-content:center;
  gap:50px;
  opacity:0.8;
}

.typing::after{
  content:"|";
  margin-left:5px;
  animation:blink 1s infinite;
}

@keyframes blink{
  50%{
    opacity:0;
  }
}

@media(max-width:900px){
.hero{
flex-direction:column;
gap:40px;
text-align:center;
}

.how{
flex-direction:column;
gap:40px;
text-align:center;
}
}

/* Login and reused for signup page*/

.login-container {
  background: linear-gradient( to bottom, #F7F4D5 0%, #D3968C 100%);
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  color: #105666;
}

.login-title {
  font-size: 34px;
  font-weight: 700;
  padding: 20px;
}

.login-error {
  background-color: red;
  color: white;
  width: 380px;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
}

.login-success {
  background-color: #839958;
  color: white;
  width: 380px;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
}

.login-input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 380px;
  font-size: 15px;
  outline: none;
}

.login-button {
  padding: 15px;
  border-radius: 12px;
  border: none;
  background-color: #0A3323;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 380px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #839958;
  transform: translateY(-3px);
}

.login-footer .login-link {
  color: #0A3323;
  font-weight: 500;
  padding: 20px;
}

/* Dashboard */

.dashboard-container {
  background-color: #F7F4D5;
  height: 100vh;
  padding: 40px;
}

.dashboard-title {
  color: #105666;
  margin-bottom: 10px;
}

.dashboard-info {
  margin-bottom: 20px;
  color: #22543d;
}

.dashboard-form {
  background: #f6fff8;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard-user {
  background: #fff5f7;
  padding: 16px;
  border-radius: 12px;
}

.dashboard-logout {
  margin-top: 10px;
  background: #f687b3;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.dashboard-loading {
  text-align: center;
  margin-top: 80px;
}